<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joju.client">

    <permission  android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Multi-Chatting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.joju.client.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.joju.client.ChattingActivity">
            <intent-filter>
                <action android:name="com.example.joju" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.joju.client.SigninActivity">
            <intent-filter>
                <action android:name="com.example.joju" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.joju.client.UserListActivity">
            <intent-filter>
                <action android:name="com.example.joju" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
